


# Created by https://www.gitignore.io/api/netbeans,netbeans

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/